
/* Global */
:root {
    --background-color: #fcf9f2;
    --background02-color: #ddd2b7;
    --main-color: #b4a177;
    --textTypeOne-color: #919191;
    --textTypeTwo-color: #343446;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*This allows my code to not to be affected by margins or borders*/
}

a {
    text-decoration: none;
}

.lists {
    list-style: none;
}

img {
    width: 100%;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 0px 50px;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center; 
}

.column-1 {
    margin-right: 20px;
}

.column-2 {
    margin-left: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--textTypeTwo-color);
    color: var(--main-color);
    border: 1px solid;
    border-radius: 7%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

.button:hover {
    color: var(--background-color);
    background: #1c1c25;
}

/* End of Global */







/* Header */

header {
    width: 100%;
    background-color: var(--background02-color);
    overflow: hidden;
    padding: 30px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .lists {
    display: flex;
}

.container #logo {
    display: flex;
    color: var(--textTypeOne-color);
    font-size: 170%;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .lists .hire-me {
    background-color: var(--textTypeTwo-color);
    color: var(--main-color);
    border: 1px solid;
    border-radius: 7%;
}


nav .lists a {
    display: inline-block;
    padding: 10px 20px;
    color: var(--textTypeTwo-color);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;

}

nav .lists a:hover {
    color: var(--main-color);
}


nav .lists a.hire-me:hover {
    color: var(--background-color);
    background: #1c1c25;
}

.logo-text {
    color: var(--main-color);
}

/* End of Header */


/* Section - Showcase */


#showcase .container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-content: center;
    text-align: left;
}


#showcase {
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    padding: 40px 0;
    margin-top: 50 px;
    
}

.container h2 {
    font-size: 50px;
    line-height: 1;
    color: var(--textTypeTwo-color);
    text-transform: uppercase;
}

.container p {
    font-size: 25px;
    color: var(--textTypeOne-color);
    line-height: 1;
    margin: 20px 0;
}

.container img {
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    

}



/* End of Section - Showcase */

/* Section - Newsletter */

#newsletter {
    padding: 15px;
    background: var(--background02-color);
    
}

#newsletter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#newsletter h1 {
    margin: 15px 0;
    font-size: 25px;
    text-transform: uppercase;
    color: var(--textTypeOne-color);
    display: flex;
}

#newsletter form {
    float: right;
    margin: 15px 0;
    display: flex;
    align-items: center;
   
}

#newsletter input[type="email"] {
    padding: 10px 20px;
    height: 40px;
    width: 350px;
    margin-left: 10px;
}


/* End of Section - Newsletter */


/* Section - Boxes */

#boxes {
    width: 100%;
    background-color: var(--background-color);
    overflow: hidden;
    padding: 40px 0;
    margin-top: 50 px;
}

#boxes .container {
    display: flex;
    justify-content: space-around;
    
}

#boxes .align {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

#boxes .box {
    padding: 40px 70px;
}

#boxes .box .icon {
    margin: 10px auto;
    width: 90px;
    

}

h3 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--textTypeTwo-color);
}

.button .small {
    font-size: 15px; 
}


/* End of Section - Boxes */


/* Section - Sticky Icons */

.fa {
    color: var(--textTypeTwo-color);
}


section#sticky-icons .link-icons1 {
    display: block;
    margin: 10px;
    padding: 10px;
    top: 200px;
    position: fixed;
}



section#sticky-icons .link-icons2 {
    display: block;
    margin: 10px;
    padding: 10px;
    top: 250px;
    position: fixed;
}


section#sticky-icons .link-icons3 {
    display: block;
    margin: 10px;
    padding: 10px;
    top: 300px;
    position: fixed;
}

section#sticky-icons .link-icons4 {
    display: block;
    margin: 10px;
    padding: 10px;
    top: 350px;
    position: fixed;
}

/* End of Section - Sticky Icons */



/*  Section - Footer */

footer {
    padding: 15px;
    background: var(--background02-color);
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


footer #row1 {
    text-align: center;
    margin-bottom: 30px;
    line-height: 30px;
    border-bottom: 3px var(--main-color) solid;
}

#row1 h2 {
    margin: 15px 0;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--textTypeOne-color);
}

#row1 h3 {
    margin: 15px 0;
    font-size: 25px;
    text-transform: capitalize;
    color: var(--textTypeOne-color);
}

#row1 p {
    font-size: 20px;
    color: var(--textTypeOne-color);
    line-height: 1;
    margin: 20px 0;
}

footer #row2 {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #row2 .myLogo {
    display: flex;
}

#row2 p {
    font-size: 20px;
    color: var(--textTypeOne-color);
    line-height: 1;
    margin: 20px 0;
}






/* End of Section - Footer */






/* page2&3 About Section - Main */

#main #main-col ul {
    list-style: none;
}


#main #main-col ul h3 {
    margin: 15px 0;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--textTypeOne-color);
}



aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .qoute input {
    width: 80%;
    padding: 5px;
    margin-top: 20px;
}

body#main .container aside#sidebar .qoute #message textarea {
    width: 80%;
    padding: 5px;
    margin-top: 20px;
}

aside#sidebar .dark h3 {
    margin: 15px 0;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--textTypeOne-color);
}


#main-col h1 {
    margin: 15px 0;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--textTypeOne-color);
}

aside#sidebar .dark p {
    margin: 15px 0;
    font-size: 15px;
    color: var(--textTypeOne-color);
}



aside#sidebar .dark {
    padding: 10px 20px;
    background-color: var(--textTypeTwo-color);
    color: var(--main-color);
    border: 1px solid;
    border-radius: 7%;
    font-weight: 500;
}


article#main-col {
    float: left;
    width: 65%;
    margin-top: 10px;
}


/* End of Section - Main */